.place__grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 460px;
}
@media screen and (max-width: 1024px) {
  .place__grid {
    max-width: 440px;
  }
}
@media screen and (max-width: 768px) {
  .place__grid {
    max-width: 340px;
  }
}
@media screen and (max-width: 425px) {
  .place__grid {
    max-width: 320px;
  }
}
