.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 984px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    max-height: 962px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    max-height: 862px;
  }
}
@media screen and (max-width: 425px) {
  .lead {
    max-width: 425px;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
  }
}
