.header {
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 56px 48px;
    max-width: 1184px;
    align-content: center;
}
@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 28px 48px 48px 48px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px 28px 48px 28px;
    }
}
@media screen and (max-width: 425px) {
    .header {
        max-width: 393px;
        margin: 16px 16px 48px 16px;
    }
}
@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 48px 16px;
    }
}