.place__website_link {
    margin-top: 12px;
    text-decoration: none;
    transition: linear 0.5s;
    color: #fff;
}
.place__website_link:hover {
    text-decoration: underline;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}