.footer__author {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  align-self: center;
  margin: 0;
}
@media screen and (max-width: 635px) {
  .footer__author {
    line-height: 14px;
    align-self: flex-start;
    margin: 16px 0 0 0;
  }
}
