.lead__title {
  font-weight: 900;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  max-width: 720px;
}
@media screen and (max-width: 700px) { /*без промежуточного варианта скролл*/
  .lead__title {
    max-width: 600px;
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width: 500px) {
  .lead__title {
    max-width: 320px;
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
  }
}
