.footer__links {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}
@media screen and (max-width: 635px) {
    .footer__links {
        display: inline;
    }
}