.cover {
  padding: 0;
  margin: 92px auto;
  display: flex;
  position: relative;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 740px;
  max-width: 1184px;
}
@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 90px auto 88px;
  }
}
@media screen and (max-width: 425px) {
  .cover {
    max-width: 425px;    
  }
}
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
  }
}
