.cover {
  padding: 0;
  margin: 92px auto;
  display: flex;
  position: relative;
  background-size: cover;
  background-position: center;
  max-height: 740px;
  max-width: 1184px;
  background-image: url("../../../images/cover-trains.jpg");
}
@media screen and (max-width: 1024px) {
  .cover {
    max-height: 640px;
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-height: 480px;
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .cover {
    max-height: 200px;
    max-width: 320px;
    margin: 0 auto;
  }
}