.place__link {
    margin-top: 12px;
    text-decoration-line: underline;
    transition: linear 0.2s;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}
.place__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 425px) {
    .place__link {
      margin-left: 16px;
    }
  }
  