.footer {
  margin: 0 24px 24px 24px;
  max-width: 1184px;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

